* {
  margin: 0;
  padding: 0;
}

:root {
  --color-green: #42b72a;
  --color-blue: #1877f2;
  --color-gray: #f0f2f5;
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Rating Bar */

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid gray;
  max-width: 603px;
  margin: 0 auto;
}

.option {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 1rem;
  padding: 20px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.option label {
  font-size: 1.6rem;
  cursor: pointer;
}

.option label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 3px solid var(--color-green);
  border-radius: 50%;
}

.option label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgb(66, 183, 42, 0.5);
  border-radius: 50%;
  opacity: 0;
  z-index: 0;
}

.option input:checked ~ label::before {
  opacity: 1;
}

.option input {
  display: none;
}
